{% extends "base_mail.html" %}
<!--{% block title %}Lista leków{% endblock %} -->
{% block content %}
<form method="POST" >{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Wyświetl</button>
</form>
<br>
{%for item in category %}
    <div class="see">
        <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
            {{item.title}}</a>
            <p>
        Uwagi do maeriału: {{item.attention}}
    </p>
    </div>
    <br>

{% endfor %}
{% endblock %}