{% extends "base_mail.html" %}
<!--{% block title %}Lista leków{% endblock %} -->
{% block content %}
<form method="POST" >{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Wyświetl</button>
</form>
<div>
    {%for item in category %}
    <p> 
        <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
        {{item.title}}</a>
    </p>
    <p>
        Uwagi do maeriału: {{item.attention}}
    </p>
</div>
{% endfor %}
{% endblock %}